################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/TSCodeGenUnitTests/bin/Debug
/TSCodeGenUnitTests/obj/Debug
/TypescriptCodeGeneration/bin/Debug
/TypescriptCodeGeneration/obj/Debug
